{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="home-section section-hero overlay bg-image"
  style="background-image: url('{% static 'images/hero_1.jpg' %}');" id="home-section">

  <div class="container" style="font-size: 60px;">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-12">
        <div class="mb-5 text-center" style="color:#89ba16" >
          <span style="color: red;">A</span>ttachee<span style="color: red;">A</span>ssist
          <p class="phrase" style="font-size: 36px;">Building Bridges Between <span style="color: red;">Aspiring Students</span> 
            and Forward-Looking <span style="color: red;">Employers.</span></p>
			<br>
        </div>
      </div>
    </div>
  </div>


</section>
{% endblock %}


